# Dependencies
node_modules/

# Build
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Test
test-results/
playwright-report/

# Misc
*.tgz
captures/
tests/capture/
*.zip
